<launch>


<!-- <include file="$(find rplidar_ros)/launch/rplidar.launch" /> -->
<!-- <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate" type="int" value="115200"/>
    <param name="frame_id" type="string" value="laser"/>
    <param name="inverted" type="bool" value="false"/>
    <param name="angle_compensate" type="bool" value="true"/>
</node> -->


<node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
  <param name="port" value="/dev/ttyTHS1" />
  <param name="baud" value="115200" />
</node>

<!-- <node name="icp" pkg="icp_pcl_ros" type="node" output="screen">
</node> -->

<node pkg="rowbot_entry_point" name="test" type="main.py" output="screen">
</node>

</launch>